@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=DM+Serif+Display:ital@0;1&family=Moirai+One&family=Rubik+Glitch+Pop&family=Sevillana&family=Single+Day&display=swap');

/* Universal Selectors */
body {
    font-size: 20px;
    line-height: 1;
    font-family: "Single Day", cursive;
    font-weight: 800;
    font-style: normal;
    background-image: url(/assets/images/storm-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: rgb(2, 2, 57);
    padding: 10px;
  }
  
  /* Class selectors */
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgb(2, 2, 57);
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #818181;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: red;
    color: white;
  }
  
  .present {
    background-color: teal;
    color: white;
  }
  
  .future {
    background-color: yellowgreen;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .time {
    background-color:  #0794a4;
    border-radius: 30px;
    margin: 0 auto;
    width: 50%;
    padding: 20px ;
    color: rgb(2, 2, 57);
    font-size: 20px;
    margin-top: 20px;
  }